<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>
    {% include 'partials/metadata.html.twig' %}
    {% include 'partials/favicon.html.twig' %}
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/css-compiled/main.min.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/externals/aos.js') %}
    {% do assets.addJs('theme://js/externals/swiper.js') %}
    {% do assets.addJs('theme://js/externals/piwik.js') %}
    {% do assets.addJs('theme://js/externals/glightbox.js') %}
    {% do assets.addJs('theme://js/internals/base.js') %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="body" class="preload {{ page.header.body_classes|e }}">
{% block body %}

    {% block navigation %}
    <nav class="main-nav">
        {% include 'partials/navigation.html.twig' %}
    </nav>
    {% endblock %}

    <header class="header">
    {% block header %}
        {% include 'partials/header.html.twig'%}
    {% endblock %}
    </header>

    
    <article>
    {% block article %}
        {% block content %}{% endblock %}
    {% endblock article %}
    </article>
    
    <footer>
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
    </footer>

    {% block bottom %}
        {{ assets.js('bottom')|raw }}
    {% endblock %}
{% endblock %}
</body>
</html>