<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://dist/css-compiled/main.min.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://src/js/aos.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://src/js/swiper.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://src/js/glightbox.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://src/js/base.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="body" class="preload {% block body_classes %}{{ body_classes }}{% endblock %}">
    <header id="header">
    {% block header %}
        <section id="header_logo">
            {% include 'partials/logo.html.twig' %}
        </section>
        <nav id="desktop-navigation">
        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}
        </nav>
        <div id="burger-menu">
            {# placeholder for burger-menu #}
        </div>
    {% endblock %}
    </header>
    <article class="inside">
    {% block article %}{% endblock %}
    </article>
    <footer>
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
    </footer>
    {% block mobile %}
    <div class="mobile-container">
        <nav class="overlay-menu">
            {% include 'partials/navigation.html.twig' with {tree: true} %}
        </nav>
    </div>
    {% endblock %}
{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}
</body>
</html>